<div class="card">
    <div class="car-header">
        Lista de productos
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Filtrar por: </div>
            <div class="col-md-4">
                <input [(ngModel)]="listFilter" type="text" class="form-control" name="filter">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Filtro:{{listFilter}}</h3>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" *ngIf="productos.length">
                <thead>
                    <tr>
                        <th>
                            <button (click)="showImage()" try="button" class="btn btn-primary">{{muestraImg?'Ocultar':
                                'Muestra'}}Imagen</button>
                        </th>
                        
                        <th>Modelo</th>
                        <th>Descripccion</th>
                        <th>Año</th>
                        <th>Precio</th>
                        <th>Marca</th>
                        <th>Color</th>
                        <th>Imagen</th>
                    </tr>
                
                </thead>
                <tbody>
                    <tr *ngFor="let productos of productos">
                        <td></td>
                        <td>{{productos.Modelo| uppercase}}</td>
                        <td>{{productos.Descripccion}}</td>
                        <td>{{productos.Year}}</td>
                        <td>{{productos.Precio| currency}}</td>
                        <td>{{productos.Marca}}</td>
                        <td>{{productos.Color | uppercase}}</td>
                        <td></td>
                        <td>
                            <img *ngIf="muestraImg" [src]="productos.ImagenUrl"
                            [title]="productos.Modelo"
                            [style.width.px]="imageWidth"
                            [style.margin.px]="imageMargin"
                            >
                        
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

