
<div class="row">
    <div class="col-6">
        <label class="form-label" for="">Numero1</label>
        <input type="text" class="form-control" [(ngModel)]="num1" name="num1" >
    </div>
</div>
<div class="col-6">
        <label class="form-label" for="">Numero2</label>
        <input type="text" class="form-control" [(ngModel)]="num2" name="num2" >
</div>
<div class="mb-3">
    <button (click)="calcular()" class="btn btn-primary">Vamos a ello neni</button>
</div>
<div>
    <!--suma-->
    <input type="radio" id="sum" [(ngModel)]="calculo" name="operacion" value="sum" />
    <label for="suma">Suma</label>
    <!--resta-->
    <input type="radio" id="res" [(ngModel)]="calculo" name="operacion" value="res" />
    <label for="resta">Resta</label>
    <!--multiplicacion-->
    <input type="radio" id="multi" [(ngModel)]="calculo" name="operacion" value="multi" />
    <label for="multi">Multiplicacion</label>
    <!--divicion-->
    <input type="radio" id="div" [(ngModel)]="calculo" name="operacion" value="div" />
    <label for="divide">Dividicion</label>
<!--Porcentaje-->
    <input type="radio" id="porce" [(ngModel)]="calculo" name="operacion" value="porce" />
    <label for="divide">Porcentaje</label>
</div>
<div class="col-6">
    <h2>Resultado es: {{resultado}}</h2>
</div>